* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    .border: 1px solid limegreen;
}

body {
    height: 100vh;
    background-color: #ffffff;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 46px;
    grid-area: header;
    background-color: #db5244;
}

.main {
    grid-area: main;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4.75fr;
    grid-template-areas:
        'sidebar workspace';
}

.sidebar {
    grid-area: sidebar;
    background-color: #fafafa;
    padding: 1em;
}

.sidebar img {
    height: 10px;
    width: 10px;
}

.sidebarProjectHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebarProjectHeader img {
    scale: 150%;
    border-radius: 50%;
}

.addProjectSVG {
    display: none;
}

.addProjectSVG_Hover:hover {
    scale: 170%;
}

.sidebarProjectName {
    font-weight: bold;
    color: grey;
    font-size: 16px;
}

.projectDiv {
    display: flex;
    align-items: center;
    margin: 1em 0;
    gap: 0.5em;
    padding-left: 0.25em;
    border: 1px solid red;
}

.workspace {
    grid-area: workspace;
    padding: 2.25em 20.5em;
    display: flex;
    flex-direction: column;
}

.workspaceHeader {
    display: flex;
    align-items: flex-end;
    gap: 0.4em;
    margin-bottom: 1em;
}

.today {
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: 2px;
}

.date {
    color: #a2a3a5;
    font-size: 12px;
}

.newTaskDiv {
    display: flex;
    gap: 0.7em;
    user-select: none;
    margin-top: 0.25em;
    margin-bottom: 0.8em;
}

.newTaskIconDiv {
    height: 16px;
    width: 16px;
    border-radius: 50%;
}

.newTaskIcon {
    height: 100%;
    scale: 135%;
}

.addTask {
    align-self: center;
    color: #817d8c;
    font-size: 14px;
}

.newTaskDiv:hover .addTask {
    color: #db4c3d;
}

.newTaskForm {
    border: 1px solid grey;
    border-radius: 10px;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 0.6em;
    gap: 0.5em;
}

.takeNameInput {
    width: 100%;

    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
}

.takeNameInput::placeholder,
.taskDescriptionInput::placeholder {
    color: rgb(128, 128, 128, 0.7);
}

.taskDescriptionInput {
    width: 100%;
    border: none;
    outline: none;
    font-size: 12px;
}

.taskOptionDiv {
    width: 100%;
    display: flex;
    gap: 0.5em;
}

.prioritySelect {
    appearance: none;
    outline: none;
    padding: 5px 20px;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128, 0.4);
}

.prioritySelect:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.priorityOption:hover {
    box-shadow: 0 0 10px 100px yellow inset;
}

.priorityOption.greyFlag {
    content: url(icons/prioflag.svg);
    color: green;
}

.dateInput {
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128, 0.4);
    padding: 0 10px;
    user-select: none;
    outline: none;
}

.dateInput:hover {
    background-color: rgba(128, 128, 128, 0.1);
}

.projectList {
    appearance: none;
    outline: none;
    padding: 5px 20px;
    background-color: inherit;
    border-radius: 5px;
    border: 1px solid rgb(128, 128, 128, 0.4);
}

.taskSubmitDiv {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    gap: 1em;
}

.taskSubmitDiv button {
    border: none;
    outline: none;
    appearance: none;
    padding: 5px 20px;
    width: 100px;
    border-radius: 5px;
}

.submitTask {
    background-color: rgb(221, 74, 68);
    color: white;
    font-weight: bold;
}

.submitTask:hover {
    background-color: rgb(196, 63, 59)
}

.cancel:hover {
    background-color: rgb(223, 223, 223);
}

.taskItemDiv {
    height: fit-content;
    width: 100%;
    border-right: 1px solid grey;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    display: flex;
    align-items: flex-start;
    gap: 0.5em;
    padding: 0.5em 0;
}

.checkBoxWrapper {
    height: 19px;
    width: 19px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkBoxWrapper.priorityOne {
    background-color: rgb(255, 0, 0, 0.1);
    border: 2px solid red;
}

.checkBoxWrapper.priorityTwo {
    background-color: rgb(255, 165, 0, 0.1);
    border: 2px solid orange;
}

.checkBoxWrapper.priorityThree {
    background-color: rgb(0, 0, 255, 0.1);
    border: 2px solid blue;
}

.checkBoxWrapper.priorityFour {
    background-color: rgb(128, 128, 128, 0.1);
    border: 2px solid grey;
}

.checkBox {
    appearance: none;
    -webkit-appearance: none;
    height: 100%;
    opacity: 0;
    transition: opacity 0.25s;
    border-radius: 50%;
}

.checkBox.priorityOne {
    content: url(icons/redCheck.svg);
}

.checkBox.priorityTwo {
    content: url(icons/orangeCheck.svg);
}

.checkBox.priorityThree {
    content: url(icons/blueCheck.svg);
}

.checkBox.priorityFour {
    content: url(icons/blackCheck.svg);
}

.checkBox:hover {
    opacity: 1;
}

.checkBox.priorityOne:hover {
    background-color: rgb(255, 0, 0, 0.2);
}

.checkBox.priorityTwo:hover {
    background-color: rgb(255, 165, 0, 0.2);
}

.checkBox.priorityThree:hover {
    background-color: rgb(0, 0, 255, 0.2);
}

.checkBox.priorityFour:hover {
    background-color: rgb(128, 128, 128, 0.1);
}

@keyframes example {
    from {
        height: 175%;
    }

    to {
        height: 100%;
    }
}

.checkBox:checked {
    transition: 0.5s;
    border-radius: 50%;
    opacity: 1;
    animation-name: example;
    animation-duration: 0.5s;
}

.checkBox.priorityOne:checked {
    background-color: red;
}

.checkBox.priorityTwo:checked {
    background-color: orange;
}

.checkBox.priorityThree:checked {
    background-color: blue;
}

.checkBox.priorityFour:checked {
    background-color: grey;
}

.paraBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.paraName {
    font-size: 15px;
}

.paraDescription {
    font-size: 12px;
}

.paraDate {
    font-size: 12px;
}

.unClickable {
    pointer-events: none;
    opacity: 50%;
}

.cancel,
.submitTask:hover {
    cursor: pointer;
}

.projectWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    margin-bottom: 1.5em;
}

.projectHeading {
    border-bottom: 1px solid rgb(128, 128, 128, 0.3);
    width: 100%;
    height: fit-content;
    padding: 0.25em 0;
    font-weight: bold;
}