* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    .border: 1px solid limegreen;
}

body {
    height: 100vh;
    background-color: #ffffff;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    height: 46px;
    grid-area: header;
    background-color: #db5244;
}

.main {
    grid-area: main;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        'sidebar workspace';
}

.sidebar {
    grid-area: sidebar;
    background-color: #fafafa;
}

.workspace {
    grid-area: workspace;
}